.cart {
  cursor: pointer;
  position: relative;

  .cart__itemCount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #111111;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: -10px;
  }
}

.cart i {
  font-size: 28px;
  color: #b6b6b6;
}