.signIntDropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  border-top: 3px solid #e6e6e6;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  top: 80px;
  right: 40px;

  & button {
    margin-bottom: 10px;
  }
}